[submodule "Plugins/LibTorch-UE5"]
	path = Plugins/LibTorch-UE5
	url = https://github.com/P1ayer-1/Libtorch-UE5
[submodule "Plugins/Tokenizers-UE5"]
	path = Plugins/Tokenizers-UE5
	url = https://github.com/P1ayer-1/Tokenizers-UE5
